:root {
  --main-font-family: "Roboto", sans-serif;
  --sub-font-family: "Nunito", sans-serif;
  --primary-color: #171717;
  --secondary-color: #202020;
  --extra-color: #262328;
  --default-text-color: white;
  --link-hover-color: rosybrown;
}

.hero {
  text-align: center;
  background-image: url(/images/profile/bg.jpg);
  background-color: var(--secondary-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 350px;
}

body {
  font-family: var(--main-font-family);
  background-color: var(--primary-color);
  color: white;
}

h1,
h2,
h3 {
  text-align: center;
}

.h1-homepage {
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.h2-homepage {
  font-weight: bold;
  font-size: 24px;
}

.p-homepage {
  font-family: var(--sub-font-family);
  font-size: 18px;
  font-weight: 400;
  max-width: 800px;
  margin: auto;
}

.h3-homepage {
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 100px;
}

.button_main {
  font-size: 14px;
  font-weight: bold;
  padding: 18px 40px;
  border-radius: 50px;
  margin-top: 40px;
  margin-bottom: 250px;
  letter-spacing: 0.1em;
}

.navigate-btn {
  font-size: 14px;
  font-weight: bold;
  padding: 18px 40px;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
  letter-spacing: 0.1em;
}

.navigate-btn-back {
  font-size: 12px;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 50px;
  margin: 30px auto;
  letter-spacing: 0.1em;
}

.navbar {
  padding: 0px;
}

.nav-con-main {
  font-size: 16px;
  font-weight: 500;
  padding-top: 51px;
  padding-bottom: 48px;
  background-color: #202020;
}

.nav-item {
  padding-left: 20px;
}

.navigator {
  color: var(--default-text-color);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

.navigator-text {
  text-align: right !important;
  flex-grow: 0;
  margin-right: 140px;
}

.navigator-icon {
  margin-left: 140px;
}

.nav-link a:hover {
  color: var(--link-hover-color);
}

.bottom_nav {
  background-color: var(--extra-color);
  padding: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.icons_main_page {
  text-decoration: none;
  color: var(--default-text-color);
  font-size: 24px;
}

.text-link {
  color: var(--default-text-color);
}

.text-link:hover {
  text-decoration: none;
  color: var(--default-text-color);
}

.footer-icon-col {
  letter-spacing: 15px;
  font-size: 30px;
}

.footer-icon-col a:hover {
  color: var(--link-hover-color);
}

.card {
  background-color: transparent;
  font-family: var(--sub-font-family);
}

.card-title {
  font-weight: bold;
  font-size: 24px;
}

.card-text {
  font-weight: normal;
  font-size: 16px;
}

.card-body {
  padding-bottom: 0px;
}
